<div class="wrapper">
  <app-gamefield></app-gamefield>
  <div class="start-buttons-wrapper">
    <div class="start-button" (click)="this.scene.startTurn(codeField)">
      <button class="material-icons">play_arrow</button>
      <div class="start__text">Запустить</div>
    </div>
    <div class="start-button" (click)="this.scene.restart(); this.codeField.reset()">
      <button class="material-icons">stop</button>
      <div class="start__text">Перезапустить</div>
    </div>
  </div>
  <div class="codefield-wrapper">
    <app-codefield></app-codefield>
  </div>
</div>
<div class="load" *ngIf="scene.isLoading">
  <!--https://icons8.com/cssload/ru/3d-loaders-->
  <div class="cssload-tetrominos">
    <div class="cssload-tetromino cssload-box1"></div>
    <div class="cssload-tetromino cssload-box2"></div>
    <div class="cssload-tetromino cssload-box3"></div>
    <div class="cssload-tetromino cssload-box4"></div>
  </div>
</div>
