.wrapper {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  z-index: 1;
  app-gamefield {
    width: 50%;
    height: 100%;
  }
  .codefield-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    app-codefield {
      width: 100%;
      height: 100%;
    }
  }
  .start-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 30px;
    cursor: pointer;
    padding: 10px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 25px;
      button {
        color: rgb(19, 125, 255);
      }
    }
  }
  button {
    color: #0167e4;
    border-radius: 100%;
    padding: 5px;
    font-size: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
    color: rgb(19, 125, 255);
    }
  }
  .start {
    &__text {
      font-family: Roboto, serif;
      font-size: 30px;
      color: white;
    }
  }
}
