<div class="level-wrapper" (click)="resetControl($event)">
  <div class="header">
    <div class="win-wrapper">
      <button class="material-icons icon icon_disable button">emoji_events</button>
    </div>
    <nav class="level-nav">
      <ul class="nav-list" (click)="changeLevel($event)">
        <li class="nav-elem"  *ngFor="let item of levels">
          <a (click)="changeRoute()" class="nav-link">
            <div class="nav-elem__outer-circle">
              <div class="nav-elem__inner-circle">{{item}}</div>
            </div>
          </a>
        </li>
      </ul>
    </nav>

    <div class="exit-wrapper">
        <label for="exit" class="exit-label">Выход</label>
        <button  id="exit" class="material-icons icon icon_active button">exit_to_app</button>
    </div>
  </div>
  <div class="help-wrapper">
    <div class="help__avatar" (click)="changeHelp()"></div>
    <div class="help__dialog">{{this.helps[currentLevel][currentHelp]}}</div>
  </div>
  <div class="code-editor" #editor></div>
  <div class="controllers-wrapper" (click)="actionControl($event)">
    <div class="move-wrapper" *ngIf="isMoveControl">
      <div class="button button__controller button__action button__level3" *ngFor="let item of moveLimit" (click)="updateEditor('Player.move('+ item + ')')">{{item}}</div>
    </div>
    <div class="rotate-wrapper" *ngIf="isRotate">
      <div (click)="updateEditor('Player.rotateRight()')" class="button button__controller button__action button__level3">Rotate Right</div>
      <div (click)="updateEditor('Player.rotateLeft()')" class="button button__controller button__action button__level3">Rotate Left</div>
    </div>
    <div class="actions-wrapper">
    <div *ngIf="isCommand" class="button button__controller button__action button__level2">Move</div>
    <div *ngIf="isCommand" class="button button__controller button__action button__level2">Rotate</div>
  </div>
    <div class="button button__controller button__level1">Player</div>
  </div>
</div>
