<div class="level-wrapper" (click)="resetControl($event)" #editorwrapper>
  <div class="header">
    <div class="win-wrapper">
      <button class="material-icons icon icon_disable button">emoji_events</button>
    </div>
    <nav class="level-nav">
      <ul class="nav-list">
        <li class="nav-elem" *ngFor="let item of levels">
          <a (click)="changeRoute(item)" class="nav-link" routerLinkActive="nav-elem__active" >
            <div class="nav-elem__outer-circle">
              <div #interactiveLighting class="nav-elem__inner-circle">{{item}}</div>
            </div>
          </a>
        </li>
      </ul>
    </nav>
    <div class="exit-wrapper">
        <label for="exit" class="exit-label">Выход</label>
        <button  id="exit" class="material-icons icon icon_active button" (click)="changeRoute('exit')">exit_to_app</button>
    </div>
  </div>
  <div class="help-wrapper">
    <div class="avatar help__avatar" (click)="changeHelp()"></div>
    <div class="help__dialog">{{this.helps[currentLevel][currentHelp]}}</div>
  </div>
  <div class="code-editor" #editor></div>
  <div class="controllers-wrapper" (click)="actionControl($event)">
    <div class="move-wrapper" *ngIf="isMoveControl">
      <div class="button button__controller button__action button__level3" *ngFor="let item of moveLimit" (click)="updateEditor('Player.move('+ item + ')')">{{item}}</div>
    </div>
    <div class="cycle-wrapper" *ngIf="isCycleControl">
      <div class="button button__controller button__action button__level3" *ngFor="let item of cycleLimit" (click)="addLoop(item)">{{item}}</div>
    </div>
    <div class="rotate-wrapper" *ngIf="isRotate">
      <div (click)="updateEditor('Player.rotateLeft()')" class="button button__controller button__action button__level3">Rotate Left</div>
      <div (click)="updateEditor('Player.rotateRight()')" class="button button__controller button__action button__level3">Rotate Right</div>
      <!-- player.take, player.put, player.attack, -->
      <!-- loop -> 1, 2, 3, ... , 10 -->
    </div>
    <div class="actions-wrapper" *ngIf="isAction">
      <div (click)="updateEditor('Player.Put()')" class="button button__controller button__action button__level3">Put</div>
      <div (click)="updateEditor('Player.Take()')" class="button button__controller button__action button__level3">Take</div>
      <div (click)="updateEditor('Player.Attack()')" class="button button__controller button__action button__level3">Attack</div>
    </div>
    <div class="commands-wrapper">
      <div *ngIf="isCommand" class="button button__controller button__action button__level2">Move</div>
      <div *ngIf="isCommand" class="button button__controller button__action button__level2">Rotate</div>
      <div *ngIf="isCommand" class="button button__controller button__action button__level2">Actions</div>
      <div *ngIf="isCommand" class="button button__controller button__action button__level2">Loop</div>
    </div>
    <div class="button button__controller button__level1">Player</div>
  </div>
  <div *ngIf="isPopupActive" class="overlay"></div>
  <div *ngIf="isPopupActive" class="popup">
    <div class="popup__topic"[innerText]="popupTopic">Задание №{{currentLevel}}</div>
    <div class="popup__content">
      <div class="popup__avatar avatar"></div>
      <div class="popup__text" [innerText]="popupText"></div>
    </div>
    <button (click)="closePopup()" class="button popup__button button__controller" [innerText]="popupButtonInnerText"></button>
  </div>
</div>

