<link href="https://allfont.ru/allfont.css?fonts=roboto-thin" rel="stylesheet" type="text/css" />
<div class="game">
  <h2>Coderman</h2>
  <p>Научитесь писать свои первые программы
    и познакомьтесь с платформой "Coderman"</p>
  <button class="game-button" [routerLink]="['trial-level']">Start game</button>
</div>
<div class="about">
  <h2>Зачем участвовать?</h2>
  <p>Я не знаю</p>
</div>
<hr>
<div class="game_play">
  <p>Час Кода Кодвардса с C.A.T.S. создан для того, чтобы познакомить учеников и учителей с оновами программирования. Вас ждут 14 захватывающих заданий, в ходе которых вы не только научитесь писать код, но и весело проведете время.
    <br><br>Чтобы представить вам этот тренажер, мы объединились с ZeptoLab, создателями всеми любимого зеленого сладкоежки Ам Няма из игры Cut the Rope, и перенесли действие в мир Crash Arena Turbo Stars (C.A.T.S.).</p>
  <img src="../../../../assets/start_page/game_play.jpg" width="500" height="500">
</div>

