<div class="footer">
  <div class="wrapper">
    <div class="git">
      <a href="https://github.com/kvadratpm"><img src="../../../../assets/footer/gitHub1.png"></a>
      <a href="https://github.com/Coolcooo"><img src="../../../../assets/footer/gitHub1.png"></a>
      <a href="https://github.com/pavel8293-pavel"><img src="../../../../assets/footer/gitHub1.png"></a>
      <a href="https://github.com/Gadzilla143"><img src="../../../../assets/footer/gitHub1.png"></a>
    </div>
    <h2>Coderman</h2>
    <a class="rss-a" href="https://app.rs.school/"><img class="rss" src="../../../../assets/footer/rsschool3.png"></a>
  </div>
</div>
