<div class="footer">
  <div class="wrapper">
    <div class="git">
      <a href="https://github.com/kvadratpm"><img src="../../../../assets/footer/gitHub1.png"></a>
      <a href="https://github.com/Coolcooo"><img src="../../../../assets/footer/gitHub1.png"></a>
      <a href="https://github.com/pavel8293-pavel"><img src="../../../../assets/footer/gitHub1.png"></a>
      <a href="https://github.com/Gadzilla143"><img src="../../../../assets/footer/gitHub1.png"></a>
    </div>
    <div class="logo">
      <h2>Coderman</h2>
      <p>2021</p>
    </div>

    <a class="rss-a" href="https://rs.school/js/"><img class="rss" src="../../../../assets/footer/school_js.svg"></a>
  </div>
</div>
