<div class="footer">
  <div class="wrapper">
    <div class="git">
      <h2>Authors:</h2>

      <a href="https://github.com/kvadratpm"><img src="../../../../assets/footer/gitHub1.png">Максим</a>
      <a href="https://github.com/Coolcooo"><img src="../../../../assets/footer/gitHub1.png">Вова</a>
      <a href="https://github.com/pavel8293-pavel"><img src="../../../../assets/footer/gitHub1.png">Павел</a>
      <a href="https://github.com/Gadzilla143"><img src="../../../../assets/footer/gitHub1.png">Егор</a>
    </div>
    <div class="logo">
      <h2>Coderman</h2>
      <p>2021</p>
    </div>

    <a class="rss-a" href="https://rs.school/js/"><img class="rss" src="../../../../assets/footer/school_js.svg"></a>
  </div>
</div>
