.wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  z-index: 1;
  app-gamefield {
    width: 50%;
    height: 100%;
  }
  .codefield-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    app-codefield {
      width: 100%;
      height: 100%;
    }
  }
}
